{% extends 'base.html.twig' %}

{% block title %}Cerca{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
{#    <form class="form-inline form-search" method="get" action="{{ path('timbrature_visualizza') }}">
        <div class="form-group">
            <input type="text" class="form-control mr-2" id="inputTag" placeholder="Codice" name="codice" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Visualizza</button>
    </form>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
